@import url("./vars.css");

/* ========== COMMON =========== */
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--BKG-LIGHT);
	color: var(--DARK);
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.28;
	letter-spacing: -0.28px;
}
.list {
	display: flex;
	list-style-type: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.clear-style {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}
@media screen and (min-width: 375px) {
	.container {
		max-width: 375px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 32px 0 31px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
.link {
	text-decoration: none;
	cursor: pointer;
}
.accent {
	color: var(--ACCENT);
}
.btn {
	display: block;
	outline: none;
}
.btn-xl {
	height: 45px;
	padding: 0 28px;
	border-radius: 100px;
}
.btn-lg {
	height: 41px;
	padding: 0 28px;
	border-radius: 100px;
}
.btn-md {
	height: 33px;
	padding: 0 20px;
	border-radius: 100px;
}
.btn-sm {
	height: 29px;
	padding: 0 16px;
	border-radius: 100px;
}
.btn-xs {
	height: 24px;
	padding: 0 16px;
	border-radius: 35px;
}
.btn-accent {
	background-color: var(--ACCENT);
	border: 1px solid var(--ACCENT);
	color: var(--WHITE);
}
.btn-outln {
	background-color: transparent;
	border: 1px solid var(--WHITE);
	color: var(--WHITE);
}
.btn-outln-accent {
	background-color: transparent;
	border: 1px solid var(--ACCENT);
	color: var(--DARK);
}
.btn-other {
	background-color: var(--BKG-LIGHT);
	border: 1px solid rgba(17, 17, 17, 0.1);
	color: var(--DARK);
}
/* ========== HEADER =========== */
.box-header {
	position: fixed;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 28px;
	margin-top: 20px;
	margin-bottom: 14px;
	background-color: var(--BKG-LIGHT);
}
.menu {
	display: flex;
	align-items: center;
}
.list-menu {
	gap: 24px;
}
.logo {
	display: block;
	margin-right: 188px;
	color: var(--DARK);
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: -0.54px;
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.lnk-item-menu {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	gap: 0.25em;
	padding: 24px 0;
	font-weight: 500;
	color: var(--DARK);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.lnk-item-menu:hover,
.lnk-item-menu:focus,
.lnk-item-address:hover,
.lnk-item-address:focus {
	color: var(--ACCENT);
}
@media screen and (max-width: 767px) {
	.list-menu {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.item-menu {
		font-size: 16px;
		line-height: 1.5;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.list-header.adresses {
		flex-direction: column;
		gap: 12px;
	}
	.item-address {
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.04em;
	}
}
@media screen and (min-width: 1200px) {
	.item-address {
		font-size: 16px;
		line-height: 1.5;
	}
}
/* ========== MAIN =========== */
.box-main {
	display: flex;
	flex-direction: column;
	margin: 28px auto 0;
}
.box-main > section {
	margin-bottom: 128px;
}
.box-main > section:first-of-type {
	margin-bottom: 71px;
}
.box-main > section:last-of-type {
	margin-bottom: 0;
}
.section-title {
	display: block;
	margin-bottom: 32px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: -0.72px;
	text-align: center;
	text-transform: uppercase;
}
/* ========== START =========== */
.box-start {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 335px;
	height: 621px;
	background-color: var(--DARK);
	background-image: linear-gradient(
			180deg,
			rgba(17, 17, 17, 0) 0%,
			rgba(17, 17, 17, 0.4) 100%
		),
		url("../images/bkg-start-335x621.jpg");
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: cover;
	border-radius: 30px;
	color: var(--WHITE);
}
@media screen and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx)) {
	.box-start {
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-start-335x621@2x.jpg");
	}
}
@media screen and (min-width: 768px) {
	.box-start {
		width: 704px;
		height: 890px;
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-start-704x890.jpg");
	}
}
@media screen and (min-width: 768px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx)) {
	.box-start {
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-start-704x890@2x.jpg");
	}
}
@media screen and (min-width: 1200px) {
	.box-start {
		width: 1136px;
		height: 600px;
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-start-1136x600.jpg");
	}
}
@media screen and (min-width: 1200px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx)) {
	.box-start {
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-start-1136x600@2x.jpg");
	}
}
.on-image {
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.motto {
	display: block;
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.6px;
}
.list-btn-on-image {
	margin-bottom: 32px;
	column-gap: 14px;
}
.scroll-down {
	position: relative;
	top: 0;
	left: 0;
}
.scroll-down-txt {
	display: block;
	margin-right: 12px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: -0.36px;
}
/* ========== BENEFITS =========== */
.benefits {
	padding: 20px;
	background-color: var(--BKG-DARK);
	color: var(--WHITE);
}
.list-benefits {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}
.list-benefits > li {
	width: 308px;
	line-height: normal;
}
.item-benefits-title {
	display: block;
	margin-bottom: 18px;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
}
@media screen and (min-width: 768px) {
	.benefits {
		padding: 50px 32px;
	}
	.list-benefits > li {
		padding-right: 28px;
		gap: 32px;
	}
}
@media screen and (min-width: 1200px) {
	.benefits {
		padding: 50px;
	}
}
/* ========== TASTE =========== */
.taste > .section-title {
	margin-bottom: 24px;
}
.list-taste {
	flex-wrap: wrap;
	gap: 20px;
}
.item-taste {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 335px;
	height: 270px;
	overflow: hidden;
	border-radius: 15px;
}
@media screen and (min-width: 1200px) {
	.list-taste {
		gap: 19px;
	}
	.item-taste {
		width: 270px;
	}
}
.bkg-white {
	background-color: var(--WHITE);
	border: 1px solid var(--ACCENT);
}
.bkg-accent {
	background-color: var(--ACCENT);
	border: 1px solid var(--ACCENT);
}
.bkg-dark {
	background-color: var(--BKG-DARK);
	border: 1px solid var(--BKG-DARK);
}
.lnk-taste-overlay {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.box-taste-overlay {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.taste-img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 224px;
	height: 171px;
	transform: translate(-50%, -50%);
}
.item-taste-title {
	display: block;
	position: absolute;
	bottom: 28px;
	left: 28px;
	display: block;
}
.item-taste-overlay {
	position: absolute;
	display: block;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 28px;
	background-color: var(--WHITE);
	/* border: 1px solid var(--ACCENT); */
	border-radius: 15px;
	overflow: hidden;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(100%);
}
.lnk-taste-overlay:hover .item-taste-overlay,
.lnk-taste-overlay:focus .item-taste-overlay {
	transform: translateY(0%);
}
/* ========== IT'S MADE =========== */
.box-its-made {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.its-made-descript {
	padding: 20px 14px;
	background-color: var(--WHITE);
	border-radius: 15px;
}
.its-made-descript > h3 {
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
}
.list-its-made {
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-left: 20px;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
	.box-its-made {
		flex-direction: row;
	}
}
/* ========== PRODUCTS =========== */
.list-products {
	gap: 16px;
	overflow: hidden;
}
.item-products {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
	flex-shrink: 0;
	width: 335px;
	height: 364px;
	margin-top: 42px;
    padding: 32px 52px;
    background-color: var(--WHITE);
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
	text-align: center;
}
.item-products-img {
    display: block;
    margin: 0 auto;
}
.item-products-title {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; 
}
.item-products-txt {
    display: block;
    margin-bottom: 18px;
}
/* ========== TOP SELLERS =========== */

/* ========== REVIEWS =========== */
.list-reviews {
	gap: 16px;
	overflow: hidden;
}
.item-reviews {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
	flex-shrink: 0;
	width: 335px;
	height: 200px;
	margin-top: 42px;
    padding: 56px 18px 42px;
    background-color: var(--WHITE);
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
	text-align: center;
}
.item-reviews-img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.item-reviews-title {
    display: block;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; 
}

/* ========== SUBSCRIBE =========== */
.box-subscribe {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 375px;
	min-height: 370px;
	padding: 62px 20px 63px;
	background-color: var(--DARK);
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(0, 0, 0, 0.2) 100%
		),
		url("../images/bkg-subscribe-375x370.jpg");
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: cover;
	color: var(--WHITE);
	text-align: center;
}
@media screen and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx)) {
	.box-subscribe {
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-subscribe-375x3702@2x.jpg");
	}
}
@media screen and (min-width: 768px) {
	.box-subscribe {
		width: 768px;
		padding: 72px 150px;
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-subscribe-768x370.jpg");
	}
}
@media screen and (min-width: 768px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx)) {
	.box-subscribe {
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-subscribe-768x370@2x.jpg");
	}
}
@media screen and (min-width: 1200px) {
	.box-subscribe {
		width: 1200px;
		padding: 72px 366px;
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-subscribe-1200x370.jpg");
	}
}
@media screen and (min-width: 1200px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx)) {
	.box-subscribe {
		background-image: linear-gradient(
				180deg,
				rgba(17, 17, 17, 0) 0%,
				rgba(17, 17, 17, 0.4) 100%
			),
			url("../images/bkg-subscribe-1200x370@2x.jpg");
	}
}
.box-subscribe > .section-title {
	margin-bottom: 24px;
}
/* ========== FOOTER =========== */
.box-footer {
    padding: 32px 20px;
	background-color: var(--BKG-DARK);
	color: var(--WHITE);
}
.box-footer-contacts {
    display: flex;
    justify-content: space-between;
}
.list-footer-menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.lnk-item-footer-menu {
	font-weight: 500;
	color: var(--WHITE);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.lnk-item-footer-menu:hover,
.lnk-item-footer-menu:focus {
	color: var(--ACCENT);
}
/* ========== MOBILE MENU =========== */

.menu-toggle {
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}
@media screen and (min-width: 1200px) {
	.menu-toggle {
		display: none;
	}
}
.menu-toggle:hover,
.menu-toggle:focus {
	color: var(--ACCENT);
}
